body {
  background-color: black;
  overflow: hidden;
}

.googleImage {
  width: 25px;
  height: auto;
}

.google {
  border:none;
  background-color: #0000;
}

.logo {
  width: 450px;
  height: auto;
  margin-left: 27%;
}

