/*.header {
  display: flex;
}

.logo {
  width: 650px;
  height: auto;
}

.container {
  width: 480px;
  height: 480px;
  display: flex;
  background-color: #7cf2f1;
  border-radius: 10px;
  margin-left: 35%;
  margin-bottom: 100%;
  z-index: 1;
}

.name,
.emailRegister,
.passwordRegister,
.passwordConfirm {
  width: 160%;
  height: 8%;
  display: block;
  margin-top: 50px;
  margin-bottom: 5%;
  border-radius: 10px;
  margin-left: 53%;
}

.confirmRegister{
    margin-top: 20%;
    margin-left: 97%;
    padding: auto;
    height: 30px;
    width: 120px;
    border-radius: 10px;
}*/