.headerNotes{
    display: flex;
}

h1{
    color: #ffff;
    display:flex;
    margin: 15px ;
    font-family: Inter;
}

.logoutButton{
    margin-left: 90%;
    border-radius: 20px;
    background-color: black;
    margin-bottom: 30%;
}

.logoutImg{
    height: 70px;
    right: auto;
}